@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}

body {
  font-size: 33px;
  width: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  justify-content: center;
  padding: 45px 0px 20px 0px;
  box-shadow: 0px 5px 10px #c7c5c5;
  z-index: 1000;
}

.header_img {
  width: 350px;
}

.localisation {
  justify-content: center;
  background: #eaeaea;
  padding: 30px;
  color: #4c4b4b;
}

.localisation_icon {
  right: 30px;
  top: 3px;
}

.localisation_text {
  margin: 0;
}

.text {
  font-weight: 500;
}

.heading {
  justify-content: center;
  text-align: center;
  padding: 70px 0px 130px 0px;
  background: #f7f7f7;
  align-items: center;
}

.title {
  line-height: 52px;
  margin: 0px;
  font-size: 50px;
}

.title.heading_title {
  margin-top: 20px;
  width: 70%;
}

.heading_subtitle {
  font-size: 38px;
  font-weight: 300;
  width: 90%;
}

.btn {
  font-size: 33px;
  border: none;
}
.btn--gradient {
  margin-top: 20px;
  padding: 30px;
  border-radius: 50px;
  background: linear-gradient(176deg, #FF79DA 0%, #9356DC 100%);
  color: #fff;
  font-weight: 600;
  box-shadow: 0px 5px 10px #cdcccc;
}
.btn--light-background {
  background-color: #f7f7f7;
  padding: 45px 0px;
  border-radius: 30px;
  box-shadow: 0px 5px 20px #cdcccc;
}

.p-40 {
  padding: 40px;
}

.relative {
  position: relative;
}

.functionning_buttons_bloc {
  row-gap: 45px;
  margin-top: 40px;
}

.functionning_button_icon {
  top: 5px;
  color: #4c4b4b;
}

.functionning_buttons_element {
  justify-content: center;
  margin: 0px 30px;
}
.functionning_buttons_element :hover .functionning_button_icon {
  color: #9356DC;
}

.functionning_buttons_container {
  justify-content: space-evenly;
  width: 100%;
  right: 65px;
  -moz-column-gap: 47px;
       column-gap: 47px;
  justify-content: flex-start;
  padding-left: 45px;
}

.functionning_button_number {
  font-size: 27px;
  color: #fff;
  background: #9356DC;
  padding: 9px 17px;
  border-radius: 30px;
}

.functionning_button_number {
  bottom: 2px;
}

.functionning .no-margin {
  margin: 0px;
}

/* Restaurants */
.restaurants {
  padding: 40px 40px 200px 40px;
  background: #f7f7f7;
  margin-top: 90px;
}

.restaurants--shadow {
  box-shadow: 0px 5px 10px #cdcccc;
}

.restaurants_bloc {
  row-gap: 120px;
}

.restaurants_element {
  margin: 0;
  width: 100%;
  height: 405px;
  background-color: #fff;
  border-radius: 30px;
}

.restaurant_img {
  width: 100%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.restaurant_figcaption {
  justify-content: space-between;
  padding: 10px 20px 30px 20px;
  background: #fff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;
}

.restaurants h2 {
  margin: 0;
  font-size: 35px;
}

.restaurants h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 300;
}

/* Footer */
.footer {
  background: #4c4b4b;
  color: #fff;
  padding: 60px 40px;
}

.footer_img {
  filter: invert(1);
  width: 256px;
}

.footer_list {
  list-style: none;
  padding: 0px;
}

.footer_list_item {
  list-style: none;
  padding: 0px;
  margin-bottom: 15px;
}

.footer_list_icon {
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */