@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

$primary : #9356DC;
$secondary : #FF79DA;
$tertiary : #99E2D0;
$tint-light : #f7f7f7;
$tint-middle : #eaeaea;
$tint-dark: #4c4b4b;
$shadow-btn : #cdcccc;

* {
    box-sizing: border-box;
}

.flex {
    display: flex;

    &-column {
        flex-direction: column;
    }
}

body {
    font-size: 15px;
    width: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;

    @media (min-width: 992px) {
        font-size: 20px;
        background-size: cover;
        background-position: 30%;
    }
}

.header {
    justify-content: center;
    padding: 27px 0px 13px 0px;
    z-index: 1000;

    @media (min-width: 992px) {
        justify-content: start;
        z-index: 0;
        box-shadow: none;
        padding: 20px;
    }
}

.header_img {
    width: 48%;
    max-width: 150px;

    @media (min-width: 992px) {
        width: 200px;
        position: relative;
        left: 50px;
    }
}

.header_icon {
    position: absolute;
    font-size: 22px;
    left: 7%;

    @media (min-width: 992px) {
        font-size: 30px;
        position: relative;
        left: 15px;
        color: #000000;
    }
}

/* Restaurant */

.restaurant {
    background-color: #f7f7f7;

    @media (min-width: 992px) {
        background-color: #cdcdcd;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.restaurant_img {
    width: 100%;
    max-height: 210px;
    object-fit: cover;



    @media (min-width: 768px) {
        width: 100%;
        height: 150px;
    }
}

.restaurant_title_bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes fill_heart {
    0% {
        -webkit-text-stroke: 2px black;
        color: transparent;
    }

    100% {
        color: $primary;
        -webkit-text-stroke: 0px;
    }
}

.restaurant_title_icon {
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-size: 22px;
    transition: all 600ms;

    @media (max-width: 991px) {
        &:active {
            animation: 600ms forwards fill_heart;
        }
    }

    @media (min-width: 992px) {
        font-size: 35px;

        &:hover {
            color: #fff;
            animation: 600ms forwards fill_heart;
        }
    }
}

.restaurant_description {
    position: relative;
    bottom: 47px;
    padding: 25px 6%;
    background: $tint-light;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    @media (min-width: 992px) {
        border-radius: 50px;
        width: 75%;
        margin: 50px 0px;
        background: rgb(247, 247, 247, 0.5);
        position: static;
    }
}

.restaurant_title_bloc h1 {
    margin: 0px;
    font-family: Shrikhand;
    font-size: 23px;
    padding-top: 5px;
    font-weight: 500;

    @media (min-width: 992px) {
        padding-top: 0px;
        font-size: 40px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        top: 0px;
    }
}

.menu_type {
    opacity: 0%;
    position: relative;
    top: 20px;
    animation: 1500ms forwards fadein;

    &--first {
        animation-delay: 600ms;
    }

    &--second {
        animation-delay: 1000ms;
    }

    &--third {
        animation-delay: 1500ms;
    }
}

.menu_subtitle {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;

    @media (min-width: 992px) {
        font-size: 25px;
    }
}

.menu_colored_bar {
    width: 32px;
    height: 2px;
    background: $tertiary;
    margin-top: 2px;
}

/* Cartes de restaurant */

button.menu_card {
    text-align: start;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    border: none;
}

.menu_cards_bloc {
    margin-bottom: 30px;
    margin-top: 15px;
    row-gap: 15px;
}

.menu_card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 5px 20px #cdcccc;
}

.cards_description_text {
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_description_text--no_margin {
    margin: 0px;
}

.menu_cards_description {
    justify-content: space-between;
    width: 100%;
    max-height: 146px;
    overflow: hidden;
}

.menu_cards_title {
    flex-wrap: nowrap;
    font-size: 14px;

    @media (min-width: 992px) {
        font-size: 18px;
    }
}

.menu_cards_subtitle {  
    font-weight: 300;
    font-size: 12px;


    @media (min-width: 992px) {
        font-size: 16px;
    }
}

.cards_description_price {
    align-items: flex-end;
    font-weight: 500;
    font-size: 13px;

    @media (min-width: 992px) {
        font-size: 12px;
    }
}

.menu_cards_description--width {
    padding: 11px 7px;
}

/* Ellipsis effect */

.menu_cards_title, .menu_cards_subtitle {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Animation des cartes au hover */

.menu_cards_animation {
    width: 0%;
    display: flex;
    background: $tertiary;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 600ms;
}

.cards_animation_icon {
    font-size: 20px;
    color: #fff;
    transition: all 600ms;

    @media (min-width: 992px) {
        font-size: 30px;
    }
}

.menu_card {

    &:active,
    &:hover {

        .cards_animation_icon {
            transform: rotate(360deg);
        }
    }

    &:active {
        .menu_cards_animation {
            width: 15%;

            @media (min-width: 768px) and (max-width: 991px) {
                width: 7%;
                max-width: 50px;
            }
        }
    }
    }

    @media (min-width: 992px) {
        :hover {
            .menu_cards_animation {
                width: 12%;
                max-width: 70px;
            }
        }
    }


/* Boutons Commander */

.btn--gradient {
    padding: 14px;
    border-radius: 50px;
    background: linear-gradient(176deg, $secondary 0%, $primary 100%);
    color: #fff;
    box-shadow: 0px 5px 10px #cecccc;
    border: none;
    font-weight: 600;
    width: 60%;
    max-width: 200px;
    align-self: center;
    transition: all 600ms;
    background-color: $primary;

    &:hover {
        background: #d86cdb;
        box-shadow: 0px 5px 20px #cecccc;
    }
}

/* Footer */

.footer {
    background: $tint-dark;
    color: #fff;
    padding: 50px 7% 30px;

    @media (min-width: 992px) {
        font-size: 15px;
        padding: 40px 40px 20px 40px;
        display: flex;
        flex-direction: column;
    }
}

.footer_img {
    filter: invert(1);
    width: 50%;
    max-width: 142px;

    @media (min-width: 992px) {
        width: 190px;
        align-self: center;
    }
}

.footer_list {
    list-style: none;
    padding: 0px;

    @media (min-width: 992px) {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }
}

.footer_list_item {
    list-style: none;
    padding: 0px;
    margin-bottom: 7px
}

.footer_list_icon {
    margin-right: 2px;
    font-size: 13px;

    @media (min-width: 992px) {
        font-size: 17px;
    }
}